<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Register Employee</title>
	</head>
	<body>
		<div
			class="modal fade"
			id="modal-register-employee"
			tabindex="-1"
			aria-labelledby="modal-register-employee"
			aria-hidden="true"
			th:fragment="modal"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="title-register-new-employee">Register new employee</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label class="form-label" for="input-name">Full Name</label>
							<div class="input-group input-group-merge">
							<span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i>
							</span>
								<input
									type="text"
									class="form-control"
									id="input-name"
									placeholder="Employee Name"
									aria-label="Employee Name"
									aria-describedby="basic-icon-default-fullname2"
								/>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="input-email">Email</label>
							<div class="input-group input-group-merge">
								<span class="input-group-text"><i class="bx bx-envelope"></i></span>
								<input
									type="text"
									id="input-email"
									class="form-control"
									placeholder="employee@mail.com"
									aria-label="employee@mail.com"
									aria-describedby="basic-icon-default-email2"
								/>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="btn-add">
							Add
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
