<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Consultation History</title>
	</head>
	<body>
		<!-- Accordion -->
		<div class="row" th:fragment="accordion(consultations)">
			<div class="col-md mb-4 mb-md-0">
				<div class="accordion mt-3" id="accordionExample">
					<div th:each="consultation : ${consultations}" class="card accordion-item active">
						<h2 class="accordion-header" id="headingOne">
							<button
								type="button"
								class="accordion-button"
								data-bs-toggle="collapse"
								data-bs-target="#accordionOne"
								aria-expanded="true"
								aria-controls="accordionOne"
							>
									<span class="d-flex flex-column">
										<span th:text="${consultation.counselee.name}">John</span>
										<span
											th:text="${#temporals.format(consultation.createdAt, 'dd MMM yyyy HH:mm')}"
										>17 October 2023 23:20</span>
									</span>
							</button>
						</h2>

						<div
							id="accordionOne"
							class="accordion-collapse collapse show"
							data-bs-parent="#accordionExample"
						>
							<div class="accordion-body">
								<div
									class="d-flex justify-content-between align-items-center"
								>
									<div class="d-flex flex-column">
                      <span class="lead fw-normal">
												<th:block th:switch="${consultation.status.name}">
													<th:block th:case="'WAITING'">Your request has been sent.</th:block>
													<th:block th:case="'VALIDATED'">Your request has been verified.</th:block>
													<th:block th:case="'REJECTED'">Your request has been rejected</th:block>
													<th:block th:case="'SCHEDULED'">You have an appointment. Please check!</th:block>
													<th:block th:case="'SCHEDULED'">You have been done with your consultation</th:block>
													<th:block th:case="*">No Message</th:block>
												</th:block>
											</span>
										<span class="text-muted small">
												<th:block th:switch="${consultation.status.name}">
													<th:block th:case="'WAITING'">
														by System on
														<th:block
															th:text="${#temporals.format(consultation.status.createdAt, 'dd MMM, yyyy')}"
														></th:block>
													</th:block>
													<th:block th:case="'VALIDATED'">
														by <th:block
														th:text="${consultation.histories.size() == 2 ? consultation.histories.get(1).editor.name : 'unknown'}"
													>System</th:block> on
														<th:block
															th:text="${#temporals.format(consultation.status.createdAt, 'dd MMM, yyyy')}"
														></th:block>
													</th:block>
													<th:block th:case="'REJECTED'">
														by <th:block
														th:text="${consultation.histories.size() == 2 ? consultation.histories.get(1).editor.name : 'unknown'}"
													>System</th:block> on
														<th:block
															th:text="${#temporals.format(consultation.status.createdAt, 'dd MMM, yyyy')}"
														></th:block>
													</th:block>
													<th:block th:case="'SCHEDULED'">
														by <th:block
														th:text="${consultation.histories.size() == 2 ? consultation.histories.get(2).editor.name : 'unknown'}"
													>System</th:block> on
														<th:block
															th:text="${#temporals.format(consultation.status.createdAt, 'dd MMM, yyyy')}"
														></th:block>
													</th:block>
													<th:block th:case="'DONE'">
														by <th:block
														th:text="${consultation.histories.size() == 3? consultation.histories.get(3).editor.name : 'unknown'}"
													>System</th:block> on
														<th:block
															th:text="${#temporals.format(consultation.status.createdAt, 'dd MMM, yyyy')}"
														></th:block>
													</th:block>
												</th:block>
											</span>
									</div>
									<div>
										<div class="comment-actions">
											<button
												class="btn icon icon-left btn-primary me-2 text-nowrap"
												th:disabled="${consultation.status.name != 'DONE'}"
											>
												<i class='bx bxs-report'></i> Report
											</button>
										</div>
									</div>
								</div>
								<hr class="my-4"/>

								<!-- Date -->
								<div
									class="d-flex flex-row justify-content-between align-items-center"
								>
									<div class="d-flex flex-column align-items-start">
											<span
												th:if="${consultation.histories.size() == 1}"
												th:text="${#temporals.format(consultation.histories.get(0).createdAt, 'dd MMM')}"
											>1 Nov</span>
									</div>
									<div class="d-flex flex-column justify-content-center">
											<span
												th:if="${consultation.histories.size() == 2}"
												th:text="${#temporals.format(consultation.histories.get(1).createdAt, 'dd MMM')}"
											>1 Nov</span>
									</div>
									<div class="d-flex flex-column justify-content-center">
											<span
												th:if="${consultation.histories.size() == 3}"
												th:text="${#temporals.format(consultation.histories.get(2).createdAt, 'dd MMM')}"
											>1 Nov</span>
									</div>
									<div class="d-flex flex-column align-items-end">
											<span
												th:if="${consultation.histories.size() == 4}"
												th:text="${#temporals.format(consultation.histories.get(3).createdAt, 'dd MMM')}"
											>1 Nov</span>
									</div>
								</div>

								<!-- Stepper DOT -->
								<div
									class="d-flex flex-row justify-content-between align-items-center align-content-center"
								>
										<span
											th:class="${consultation.status.name == 'WAITING' ? 'd-flex justify-content-center align-items-center big-dot dot' : 'dot'}"
										>
											<th:block th:if="${consultation.status.name == 'WAITING'}">
												<i class="bx bx-check text-white"></i>
											</th:block>
										</span>
									<hr class="flex-fill track-line"/>
									<span
										th:class="${consultation.status.name == 'VALIDATED' || consultation.status.name == 'REJECTED' ? 'd-flex justify-content-center align-items-center big-dot dot' : 'dot'}"
									>
											<th:block
												th:if="${consultation.status.name == 'VALIDATED' || consultation.status.name == 'REJECTED'}"
											>
												<i class="bx bx-check text-white"></i>
											</th:block>
										</span>
									<hr class="flex-fill track-line"/>
									<span
										th:class="${consultation.status.name == 'SCHEDULED' ? 'd-flex justify-content-center align-items-center big-dot dot' : 'dot'}"
									>
											<th:block th:if="${consultation.status.name == 'SCHEDULED'}">
												<i class="bx bx-check text-white"></i>
											</th:block>
										</span>
									<hr class="flex-fill track-line"/>
									<span
										th:class="${consultation.status.name == 'DONE' ? 'd-flex justify-content-center align-items-center big-dot dot' : 'dot'}"
									>
											<th:block th:if="${consultation.status.name == 'DONE'}">
												<i class="bx bx-check text-white"></i>
											</th:block>
										</span>
								</div>

								<!-- Status -->
								<div
									class="d-flex flex-row justify-content-between align-items-center"
								>
									<div class="d-flex flex-column align-items-start">
										<span>Waiting</span>
									</div>
									<div class="d-flex flex-column justify-content-center">
										<span th:if="${consultation.histories.size() < 2}">Validated/<br>Rejected</span>
										<span
											th:if="${consultation.histories.size() >= 2}"
											th:text="${consultation.histories.get(1).id.consultationStatus.name.toLowerCase()}"
											class="text-capitalize"
										>
												Validated/Rejected
											</span>
									</div>
									<div
										class="d-flex flex-column justify-content-center"
									>
										<span>Scheduled</span>
									</div>
									<div class="d-flex flex-column align-items-end">
										<span>Done</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--/ Accordion -->

			<!--/ Advance Styling Options -->
		</div>
	</body>
</html>
